node_modules
.next
out
build
coverage
public/data/health/*.json

*.tsbuildinfo

*.avif
*.ico
*.jpeg
*.jpg
*.png
*.webp
*.gif
*.mov
*.MOV
*.mp4
*.MP4
*.m4a
*.mp3
*.pdf
*.ttf
*.zip
*.pages
*.textClipping
